---
const actualQuery = `{
  participants(partyId:3){
    id
    partyId
    name
  }
}`
const query = `{"query": "${actualQuery.replaceAll("\n", "")}"}`
---
<div class="w-96 p-4" hx-ext="client-side-templates">

  <div
    hx-post="http://localhost:4000/graphql"
    hx-trigger="load"
    hx-target="#content"
    mustache-template="foo"
    hx-vals={query}
  >

    <p id="content" class="py-2">:)</p>

    <template id="foo">
      {`{{#data.participants}}`}
      <ul class="mt-2">
        Participants:
        {`{{#participants}}`}
        <li>- {`{{name}}`}</li>
        {`{{/participants}}`}
      </ul>
      {`{{/data.participants}}`}

      {`{{^data.participants}}`}<p>Party not found :(</p>{`{{/data.participants}}`}
    </template>
  </div>
</div>
