---

---

<div class="w-96 bg-gray-200 text-gray-800 p-4" hx-ext="client-side-templates">
  <div hx-ext="client-side-templates">
    <button
      hx-get="https://jsonplaceholder.typicode.com/todos/1"
      hx-swap="innerHTML"
      hx-target="#content"
      mustache-template="foo"
      class="border-2 py-1 px-2"
    >
      Load
    </button>

    <p id="content" class="py-2">:)</p>

    <template id="foo">
      <p>{`{{userId}} and {{id}} and {{title}} and {{completed}}`}</p>
    </template>
  </div>
</div>
