---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>SHAFT Party Task Planner</title>
	</head>
	<body>
		<script is:inline src="https://unpkg.com/htmx.org"></script>
		<script is:inline src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
		<script is:inline src="https://unpkg.com/mustache@latest"></script>

		<div>
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;

	}
	html {
		font-family: 'Rajdhani';
	}

	body {
		display: flex;		justify-content: center;
		height: 100vh;
	}
</style>
<!-- based on: https://www.kevinzunigacuellar.com/blog/dark-mode-in-astro/ -->
<script is:inline>
  const theme = (() => {
    console.log(window.matchMedia("(prefers-color-scheme: dark)"))
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
</script>