---
import PageLayout from '../layouts/PageLayout.astro';
import Participants from '../components/participants.astro';
---

<PageLayout title="Participants" left="/" right="">
   <div class="fixed inset-0 flex items-center justify-center p-4">
      <div class="bg-white w-full max-w-sm rounded-lg border border-gray-200 dark:border-gray-800">
        <div class="p-6 space-y-4">
          <div class="space-y-2">
            <h1 class="text-2xl font-semibold">Welcome</h1>
            <Participants  />
          </div>
        </div>
      </div>
    </div>
</PageLayout>